<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<h1>Notes list</h1>
<div>
    <a href="/">Home</a>
</div>
<div th:if="${notes}">
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Priority</th>
        </tr>
        <tr th:each="note : ${notes}">
            <td th:text="${note.getId()}"></td>
            <td th:text="${note.getTitle()}"></td>
            <td th:if="${note.getPriority() != null}" th:text="${note.getPriority().getName()}"></td>
            <td><a th:href="@{/notes/{id}(id=${note.getId()})}">open</a></td>
            <td><a th:href="@{/notes/{id}/edit(id=${note.id})}">edit</a></td>
            <td><a th:href="@{/notes/{id}/delete(id=${note.id})}">delete</a></td>
        </tr>
    </table>

    <a href="/notes/create">Create note</a>


</div>
</body>
</html>